body{
    font-family: Arial, sans-sarif;
    margin: 0;
    background-color: #f8f1ff

}
header {
    background-color: purple;
    color: white;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav a {
    color: pink;
    text-decoration: none;
    margin-right: 15px;
    

}
main {
    padding: 20px;
}

section {
    margin-bottom: 40px;

}
footer {
    background-color: purple;
    color: white;
    text-align: center;
    padding: 15px;

}
h2 {
margin-bottom: 10px;
color: purple;
}

#testimonial-container {
    margin-top: 15px;
}

#project-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}


contact a {
    color: pink;
    text-decoration: none;

}
nav a:hover {
    text-decoration: underline;

}
p {
    line-height: 1.6;
    color: #444;
}
h1 {
    margin-top: 0;
    color: white;
}
#testimonial-container > div,
#project-container > div {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px #ddd;
    
    
}
@media (max-width: 600px) {
    header {
        text-align: center;
    }

nav a {
    display: block;
    margin: 10px 0;
    
}
    
}

h3 {
    color: purple;
}



